In [1]:
import pandas

In [2]:
data_frame = pandas.read_csv("/Users/claire/Desktop/eeg-data/museMonitor_2018-03-17--08-05-18.csv")

In [3]:
data_frame.head()

,TimeStamp,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,...,Gyro_X,Gyro_Y,Gyro_Z,HeadBandOn,HSI_TP9,HSI_AF7,HSI_AF8,HSI_TP10,Battery,Elements
0,2018-03-17 08:05:18.653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
1,2018-03-17 08:05:19.465,1.240262,-0.263352,0.315376,1.492881,0.89402,-0.420508,0.229114,1.025745,0.847474,...,-1.443024,1.099091,5.383301,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
2,2018-03-17 08:05:20.401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink
3,2018-03-17 08:05:20.450,0.330001,0.402005,-0.088686,1.200459,0.61287,-0.123047,-0.519162,0.735113,0.426421,...,5.659943,19.888306,67.343597,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
4,2018-03-17 08:05:21.048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,/muse/elements/blink

In [4]:
cleaned_data_frame = data_frame[pandas.notnull(data_frame['Delta_TP9'])]

In [5]:
cleaned_data_frame.head()

,TimeStamp,Delta_TP9,Delta_AF7,Delta_AF8,Delta_TP10,Theta_TP9,Theta_AF7,Theta_AF8,Theta_TP10,Alpha_TP9,...,Gyro_X,Gyro_Y,Gyro_Z,HeadBandOn,HSI_TP9,HSI_AF7,HSI_AF8,HSI_TP10,Battery,Elements
1,2018-03-17 08:05:19.465,1.240262,-0.263352,0.315376,1.492881,0.894020,-0.420508,0.229114,1.025745,0.847474,...,-1.443024,1.099091,5.383301,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
3,2018-03-17 08:05:20.450,0.330001,0.402005,-0.088686,1.200459,0.612870,-0.123047,-0.519162,0.735113,0.426421,...,5.659943,19.888306,67.343597,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
5,2018-03-17 08:05:21.461,0.381371,1.826566,1.111653,1.183077,0.666607,0.391496,0.174356,0.920249,0.332401,...,11.230164,-1.936493,-44.935608,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
6,2018-03-17 08:05:22.458,0.381371,1.865048,1.458918,1.183077,0.666607,0.184426,0.123051,0.920249,0.332401,...,-21.293945,2.624359,-2.018738,1.0,1.0,1.0,1.0,1.0,98.953125,NaN
8,2018-03-17 08:05:23.451,1.637266,1.524364,1.464060,1.183077,0.852797,0.566212,0.223700,0.920249,0.984424,...,-4.583282,4.478607,10.871277,1.0,1.0,1.0,1.0,1.0,98.953125,NaN

In [6]:
cleaned_data_frame.reset_index().to_csv("/Users/claire/Desktop/eeg-data/cleaned_museMonitor_2018-03-17--08-05-18.csv", index=False, header=False)